extend top

append meta
  meta(name="description" content="Tapas are small dishes or plates, which are traditionally given in bars in Spain when ordering a drink. They were originally slices of bread placed on top of the glass in order to protect the drink from flies or dust")
  meta(name="keywords" content="about tapas takeaway tapasdelivery")
  meta(name="title" content="About Tapas - Authentic Tapas and Paella Takeaway")

block body
  .container.food-menu: .row: .col-md-6.col-md-offset-3
    h1.text-center About us
    p.lead.about-us Tapas are small dishes or plates, which are traditionally given in bars in Spain when ordering a drink. They were originally slices of bread placed on top of the glass in order to protect the drink from flies or dust (the word lid is 'tapa' in Spanish). Eventually these slices of bread were then topped with some cheese or vegetables to make a tasty snack.
    p.lead.about-us Tapas have evolved over the years and some can only be found in certain areas of Spain where certain ingredients are available. There are some very popular and common Tapas such as Patatas Bravas (spicy red pepper sauce on crispy potatoes) and of course the world famous Tortilla Espanola (Spanish omelette).
    p.lead.about-us There is no right and wrong about how to order and eat Tapas or how many to order, every Tapas bar will present their Tapas differently so do ask us to get some advice! We recommend two tapas or a paella for a one person meal. But if you are hungry then order more!!! Our menu includes a number of vegetarian dishes, such as Fritos de Queso de Cabra a la miel (fried goat cheese medallions with honey) or vegetable paella. A lot of gluten free options are available too, including gluten free beer (Daura Damm)!