extend top

block body
    .container.food-menu(ng-controller="BasketCtrl")
        .col-sm-6
            h3.text-center Confirm your Details
            br
            form.form-horizontal(name="customerForm")
                .form-group
                    label.control-label.col-sm-4 Name
                    .col-sm-6
                        input.form-control(type="text" placeholder="Full Name" ng-model="customer.name" required ng-change="saveCustomer()")
                .form-group
                    label.control-label.col-sm-4 Postcode
                    .col-sm-6
                        angucomplete-alt#postcode(placeholder='Postcode', initial-value="customer.postcode", selected-object='customer.postcode', remote-api-handler="getPostcodes", remote-url-data-field="result", pause="300", title-field="name" input-changed="verifyPostcode", input-class='form-control')
                .form-group
                    label.control-label.col-sm-4 Phone Number
                    .col-sm-6
                        input.form-control(type="tel" placeholder="Phone #" ng-model="customer.phone" required ng-change="saveCustomer()")
                .form-group
                    label.control-label.col-sm-4 Email Address
                    .col-sm-6
                        input.form-control(type="email" placeholder="Email" ng-model="customer.email" required ng-change="saveCustomer()")
                .form-group: .col-sm-6.col-sm-offset-4
                    button.btn.btn-success(type="submit" ng-disabled="customerForm.$invalid || submitting || !postCodeValid" ng-click="submitOrder()")
                        span(ng-if="!submitting")
                            i.fa.fa-check.fa-fw
                            | &nbsp;Confirm Order
                        span(ng-if="submitting")
                            i.fa.fa-spin.fa-refresh.fa-fw
                            | &nbsp;Sending order...
        .col-sm-6
            h3.text-center Basket Items
            table.table.table-bordered
                thead.order-details-head: tr
                    td Dish
                    td Qty
                    td Price
                    td &nbsp;
                tbody
                    tr(ng-repeat="item in basket.items track by item.id")
                        td {{ item.obj.name }}
                        td: input.form-control(type="number" ng-model="item.quantity" ng-change="basket.save()")
                        td £{{ (item.quantity * item.obj.price).toFixed(2) }}
                        td
                            button.btn.btn-info.btn-xs(ng-click="ingredients(item); basket.save()" ng-hide="item.obj.ingredients.length == 0"): i.fa.fa-fw.fa-edit
                            button.btn.btn-danger.btn-xs(ng-click="basket.remove(item); basket.save()"): i.fa.fa-fw.fa-times
                    tr
                        td(colspan=2).text-right: strong Total:
                        td(colspan=2).text-left £{{ totalPrice.toFixed(2) }}