doctype
html(lang="en" ng-app="tapas")
  head
    meta(charset="UTF-16")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block meta
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title Tapas
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/tapas.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/bootstrap-social.css")
    link(rel="stylesheet" href="/css/paymentfont.min.css")

    script(src="/js/jquery.min.js")
    script(src="/js/angular.min.js")
    script(src="/js/angular-local-storage.min.js")
    script(src="/js/app.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/ui-bootstrap.min.js")
    script(src="/js/angucomplete-alt.js")
    block addons
  body
    .food-menu.logo-holder.hidden-xs.no-br
      a(href="/")
        img(src="/img/logo.png").logo
      .triangles.hidden-xs
    nav.navbar.navbar-default.navbar-desktop
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/").visible-xs: img(src="/img/logo.png")
          button.btn.pull-right.navbar-header-basket.visible-xs(ng-if="!hasOrdered")
            a(href="/basket" style="color: #fff !important")
              i.fa.fa-shopping-cart.fa-fw
              | &nbsp;
              span(ng-bind="basket.totalItems") 0
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-text
            for section in sections
              unless section.hidden
                li.section: a(href="/#"+section.name.replace(/\s+/g, '-').toLowerCase())=section.name
            li.pull-right.hidden-xs(ng-if="!hasOrdered")
              a(href="/basket" style="color: #fff !important")
                i.fa.fa-shopping-cart.fa-fw
                | &nbsp;
                span(ng-bind="basket.totalItems") 0
            if session.admin
              li.btn-danger.pull-right
                a(href="/admin", style="color: #fff !important")
                  i.fa.fa-cogs.fa-fw
    .container.marketing(ng-controller="configCtrl", ng-show="config.promo")
      img.marketing-img(ng-src="https://tapas-media.s3-eu-west-1.amazonaws.com/promo.{{ config.promo_extension }}", alt="")
    .container.food-menu.hidden-xs(ng-controller="configCtrl", style="white-space: pre;")
      .col-xs-12.col-sm-6
        b {{ config.name }}
        br
        | {{ config.address }}
      .col-xs-12.col-sm-6
        b Opening hours
        br
        | {{ config.openHours }}
    block body
    .container.food-menu(ng-controller="configCtrl", style="white-space: pre;")
      .col-xs-12.col-sm-4
        b {{ config.name }}
        br
        | {{ config.address }}
        br
        h1
          i.pf.pf-mastercard
          i.pf.pf-maestro
          i.pf.pf-visa
          i.pf.pf-visa-electron
      .col-xs-12.col-sm-4
        b Opening hours
        br
        | {{ config.openHours }}
      .col-xs-12.col-sm-4.btn-toolbar
        a.btn.btn-social-icon.btn-twitter(ng-show="config.twitter != ''", href="{{ config.twitter }}", target="_blank"): i.fa.fa-twitter
        a.btn.btn-social-icon.btn-facebook(ng-show="config.facebook != ''", href="{{ config.facebook }}", target="_blank"): i.fa.fa-facebook
        a.btn.btn-social-icon.btn-instagram(ng-show="config.instagram != ''", href="{{ config.instagram }}", target="_blank"): i.fa.fa-instagram
        br
        a(href="/about"): strong About Us
        br
        a(href="/allergen.pdf"): strong Allergen info
    script(type="text/ng-template", id="ingredients")
      include partials/ingredients
    script.
      $(document).ready(function() {
        var navpos = $('.navbar-default').offset();
        if ($(window).width() >= 768) {
          $(window).bind('scroll', function() {
            if ($(window).scrollTop() > navpos.top) {
              $('.navbar-default').addClass('navbar-fixed-top');
              $('body').addClass('scrolled');
              $('.logo-holder').addClass('logo-hidden');
            }
            else {
              $('.navbar-default').removeClass('navbar-fixed-top');
              $('body').removeClass('scrolled');
              $('.logo-holder').removeClass('logo-hidden');
            }
          });
        } else {
            $('.navbar-default').addClass('navbar-fixed-top');
            $('body').addClass('scrolled')
        }
      });