doctype
html(lang="en" ng-app="tapas")
  head
    meta(charset="UTF-16")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Tapas
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/tapas.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/angular.min.js")
    script(src="/js/angular-local-storage.min.js")
    script(src="/js/app.js")
    script(src="/js/ui-bootstrap.min.js")
    script(src="/js/admin-app.js")
  body
    nav.navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand: img(src="/img/logo.png")
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-text
            for section in sections
              unless section.hidden
                li: a(href="/#"+section.name.replace(/\s+/g, '-').toLowerCase())=section.name
            br.visible-xs

            li.btn-success.pull-right(ng-if="!hasOrdered")
              a(href="/basket" style="color: #fff")
                i.fa.fa-shopping-cart.fa-fw
                | &nbsp;
                span(ng-bind="basket.totalItems") 0
            if session.admin
              li.btn-danger.pull-right
                a(href="/admin")
                  i.fa.fa-cogs.fa-fw
    if promo && !session.admin
      .container.marketing
        img.marketing-img(src="img/promo.png", alt="")
    block body