body {
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  background-size: 200px;
  -webkit-background-size: 200px;
  padding-bottom: 20px;
}

.food-menu {
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 10px 0 0 10px;

  /* background */
  background-image: url(../img/menu.png);
  background-repeat: repeat;
  -webkit-background-size: 200px;
  background-size: 200px;

  margin-right: 0;
}

.food-menu > .row {
  margin-right: 0;
  margin-left: 0;
}

.tapas-logo {
  margin: 20px 20px 20px 13vw;
  height: 10%;
}

.dish-image {
  width: 100%;
  border-radius: 5px
}

.vegeterian {
  text-indent: -9999px;
  display: inline-block;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/vegetarian-mark.svg);
}

.gluten-free {
  text-indent: -9999px;
  display: inline-block;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  background-image: url(../img/icon-glutenfree.png);
}

.dish-name>.row>h2 {
  font-size: 16px !important;
}

.food-box-container {
  border: 1px solid #333;
  padding: 0;
  margin-bottom: 10px;
}
.food-box {
  margin-top: 100%;
  width: 100%;
}
.food-box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.food-box-relative {
  position: relative;
  width: 100%;
  height: 100%;
}
.food-box .dish-name {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  width: 100%;
  color: white;
  text-align: left;
  padding: 10px;
  margin-bottom: 0;
}
.food-box span {
  display: none;
}
.food-box h4 {
  display: none;
  top: 0;
  font-size: 14px;
}
.food-box-content:hover {
  background: #333;
}
.food-box-content:hover h4 {
  display: block;
  color: white;
}

.order-group {
  margin-top: 10px;
}

.food-box-content:hover span {
  display: inline-block !important;
}

h4 {
  font-weight: normal !important;
}
