doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Tapas
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/tapas.css")
    link(rel="stylesheet" href="css/font-awesome.min.css")
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="node_modules/angular/angular.js")
  body
    nav.navbar.navbar-fixed-top.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand
            img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Tapas logo&w=200&h=100")
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-text
            for section in sections
              li
                a(href="/#"+section.name.replace(/\s+/g, '-').toLowerCase())=section.name
            br.visible-xs
            li.btn-success(style="float:right;")
                a(href="/basket" style="color: #fff")
                  i.fa.fa-shopping-cart
                  |  0
            li
              .spacer.hidden-xs
    .container.marketing
      a(href="http://example.com")
        img.marketing-img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Marketing image, can be whatever size&w=2000&h=400" alt="")
    block body