body {
  background-image: url(../img/main.png);
  background-repeat: repeat;
  background-size: 200px;
  -webkit-background-size: 200px;
  padding-bottom: 20px;
  padding-top: 0px;
  background-attachment: fixed;
  overflow-y: scroll !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.spacer{
  width: 30px;
  height: 100%;
}

.navbar .nav{
  float: none;
  text-align: center;
}
.navbar .nav > li{
  float: none;
  display: inline-block;
}

.navbar-text{
  font-size: 20px;
  margin: 0;
}

.marketing-img{
  width:100%;
}

.navbar-brand {
  padding: 0;
  padding-left: 10px;
}
.navbar-brand > img{
  height: 50px;
}

.food-menu {
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: justify;

  /* background */
  background-image: url(../img/menu.png);
  background-repeat: repeat;
  -webkit-background-size: 200px;
  background-size: 200px;

}

img{
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.food-menu > .row {
  margin-right: 0;
  margin-left: 0;
}

.tapas-logo {
  margin: 20px 20px 20px 13vw;
  height: 10%;
}

.dish-image {
  width: 100%;
  border-radius: 5px
}

.vegetarian {
  text-indent: -9999px;
  display: inline-block;
  height: 36px;
  width: 34px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../img/vegetarian-mark.svg);
}

.gluten-free {
  text-indent: -9999px;
  display: inline-block;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  background-image: url(../img/icon-glutenfree.png);
}

.dish-name>.row>h2 {
  font-size: 16px !important;
}

.food-box-container {
  padding: 0;
  margin: 0 0 10px;
}
.food-box {
  margin-top: 100%;
  width: 100%;
}
.food-box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
}
.food-box-relative {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: auto 100%;

}

.food-box-relative:hover > .overlay {
  border-radius: 0 !important;
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
  border-radius:30px;
}

.food-box .dish-name {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  color: white;
  text-align: left;
  margin-bottom: 0;
}
.food-box span {
  display: none;
}

.item-name {
  display: none;
  top: 0;
  font-size: 22px;
  padding: 3px 0 10px;
}

.food-box h4 {
  display: none;
  top: 0;
  font-size: 14px;
  margin: 0;
}
.food-box-relative:hover {
  background: #333;
  background-position: center;
  background-size: auto 100%;
}
.food-box-relative:hover h4 {
  display: block;
  color: white;
}

.food-box-relative:hover h2 {
  display: block;
  color: white;
}

.food-box-relative:hover #dish-name {
  display: none;
}

.order-group {
  margin-top: 10px;
}

.food-box-relative:hover span {
  display: inline-block !important;
}

h4 {
  font-weight: normal !important;
}

.dish-description{
  position: absolute;
  padding: 7px;
  width: 100%;
}

.item-description{
  padding-bottom: 10px;
}

.item-price{
  margin: 0;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
}

.row{
  margin: 0;
}

.order-button{
  border: none;
  border-radius: 0;
}

a.top {
  position: relative;
  top:-100px;
  display: block;
  height: 0;
  width:0;
}

.order-details-head{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.table-bordered{
  border: 3px solid #555;
  box-shadow: 3px 3px 5px #888;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th{
  border: 1px solid #555;
}

.form-control{
  /*margin-bottom: 10px;*/
}

.control-label {
  padding-right: 5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-attr {
  line-height: 1 !important;
}

.no-margin{
  margin: 0 !important;
}

textarea { resize:vertical; }

.hidden-item{
  color: grey;
}

.hidden-section{
  color: grey;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  vertical-align: middle !important;
}

@media (min-width: 768px) {
  .navbar-brand > img {
    height: 70px;
  }
}

.form-group{
  margin: 5px 0 !important;
}

.navbar {
  background-image: url(../img/menu.png);
  background-repeat: repeat;
  border: 0;
  border-radius: 0;
}

.navbar-text > li > a {
  color: #000 !important;
}

.navbar-toggle {
  border: none;
}
.navbar-toggle:hover {
  background: none !important;
}
.logo {
  height: 20vh
}
.logo-holder {
  width: 100vw;
  text-align: center;
  padding-top: 10px;
}

.scrolled {
  margin-top: 60px;
}

.logo-hidden {
  visibility: hidden;
}

.nav{
  width: 1110px !important;
}