.modal-header
    h3 Add section
.modal-body
    form(name="sectionForm")
        .form-group
            .input-group
                .input-group-addon Order #
                input.form-control(type="number", min=0, required, ng-model="section.order")
        .form-group
            .input-group
                .input-group-addon Name
                input.form-control(type="text", required, ng-model="section.name")
        .form-group
            .btn-group.input-group
                .input-group-addon Hidden
                .btn.btn-attr(ng-class="{'btn-success': section.hidden, 'btn-danger': !section.hidden}", ng-click="toggleHidden()"): i.fa(ng-class="{'fa-check': section.hidden, 'fa-times': !section.hidden}")
        input(type="hidden", name="hidden", ng-value="section.hidden")
.modal-footer
    .btn-group
        button.btn.btn-danger(type='button', ng-click='cancel()')
            i.fa.fa-times
            |  Cancel
        button.btn.btn-success(type='button', ng-click='ok()', ng-disabled="sectionForm.$invalid")
            i.fa.fa-check
            |  Submit