.modal-header
    h3.modal-title Edit item
.modal-body
    form(name="itemForm")
        .form-group
            .input-group
                .input-group-addon ID#
                input.form-control(type="number", required, ng-model="item.order")
        .form-group
            .input-group
                .input-group-addon Name
                input.form-control(type="text", name="name", required, ng-model="item.name")
        .form-group
            .input-group
                .input-group-addon Description
                textarea.form-control(name="description", required, ng-model="item.name")
        .form-group
            .input-group
                .input-group-addon Price
                input.form-control(type="number", min=0.00, step=0.01, name="price", ng-model="item.price", required)
                .input-group-addon: i.fa.fa-gbp
        .form-group
            .input-group
                .input-group-addon Image
                span.btn.btn-info.btn-file.form-control Browse
                    input(type="file", name="image")
        .form-group
            .btn-group.input-group
                .input-group-addon Attributes
                .btn.btn-attr(ng-class="{'btn-success': item.vegan, 'btn-danger': !item.vegan}", ng-click="toggleVegan()"): span.vegetarian
                .btn.btn-attr(ng-class="{'btn-success': item.gluten_free, 'btn-danger': !item.gluten_free}", ng-click="toggleGlutenFree()"): span.gluten-free
            input(type="hidden", name="vegan", ng-value="item.vegan")
            input(type="hidden", name="glutenFree", ng-value="item.gluten_free")
            input(type="hidden", name="section", ng-value="item.section")
.modal-footer
    .btn-group
        button.btn.btn-danger(type='button', ng-click='cancel()')
            i.fa.fa-times
            |  Cancel
        button.btn.btn-success(type='button', ng-click='ok()')
            i.fa.fa-check
            |  Submit