.modal-header
    h3 Edit section
.modal-body
    form(name="sectionForm")
        .form-group
            .input-group
                .input-group-addon ID#
                input.form-control(type="number", min=0, ng-model="section.order")
        .form-group
            .input-group
                .input-group-addon Name
                input.form-control(type="text", ng-model="section.name")
.modal-footer
    button.btn.btn-success(type='button', ng-click='ok()', ng-disabled="itemForm.$invalid")
        i.fa.fa-check
        |  Submit