.modal-body
    table.table.table-bordered
        tr
            td Name
            td {{ order.name }}
        tr
            td Postcode
            td {{ order.postcode }}
        tr
            td House number
            td {{ order.houseNr }}
        tr
            td Phone number
            td {{ order.phone }}
        tr
            td Email
            td {{order.email}}
        tr
            td Time
            td {{ order.timeSent | date:'dd/MM/yyyy HH:mm' }}
        tr
            td Delivery cost
            td £ {{ order.distancePrice.toFixed(2) }}
        tr
            td Total
            td £ {{ order.total.toFixed(2) }}
        tr
            td Items
            td: table.table.table-bordered(ng-repeat="item in items track by $index"): tbody
                tr
                    td Name
                    td {{ item.name }}
                tr
                    td Quantity
                    td {{ order.items[$index].quantity }}
                tr
                    td Price
                    td £ {{ (order.items[$index].quantity*item.price).toFixed(2) }}
                tr(ng-show="anyIngredients(order.items[$index], item)")
                    td Ingredients
                    td: ul
                        li(ng-repeat="ingredient in order.items[$index].ingredients track by $index", ng-show="ingredient.value != item.ingredients[$index].default_quantity") {{ item.ingredients[$index].name }} x{{ingredient.value}} (default {{ item.ingredients[$index].default_quantity }})
.modal-footer
    .btn-group
        a.btn.btn-success(ng-click="close(1)", ng-disabled="order.status != 0")
            i.fa.fa-check
            |  Approve
        a.btn.btn-danger(ng-click="close(2)", ng-disabled="order.status != 0")
            i.fa.fa-times
            |  Deny