extend ../top

block body
    div(ng-controller="AdminCtrl")
        .container.food-menu
            h1.text-center: strong Tapas Admin
            .col-md-10.col-md-offset-1.col-xs-12
                .col-xs-12.text-center.form-group
                    .btn-group
                        a.btn.btn-success(ng-click="addSection()")
                            i.fa.fa-plus
                            |  Add section
                        a.btn.btn-warning(ng-click="orderLogs()")
                            i.fa.fa-info
                            |  Order logs
                        a.btn.btn-info(href="/admin/printout", target="_blank")
                            i.fa.fa-print
                            |  Generate printout
                        a.btn.btn-danger(href="/logout")
                            i.fa.fa-sign-out
                            |  Log Out
                table.table-bordered.table(ng-repeat="section in sections track by $index")
                    tr.text-center
                        td(colspan=2, ng-class="{'hidden-section': section.hidden}"): h1.no-margin
                            strong(title="{{section._id}}") {{ section.name }}
                            |  (\#{{ section.order }})
                        td(colspan=2)
                            .btn-group
                                a.btn.btn-success(ng-click="addItem(section._id)")
                                    i.fa.fa-plus
                                    |  Add item
                                a.btn.btn-info(ng-click="editSection(section)")
                                    i.fa.fa-edit
                                    |  Edit section
                                a.btn.btn-danger(ng-click="deleteSection(section._id)")
                                    i.fa.fa-trash
                                    |  Delete section
                    tr
                        td.col-xs-1 Order #
                        td.col-xs-6 Name
                        td.col-xs-2 Price
                        td.col-xs-3 Actions
                    tr(ng-repeat="item in section.items track by $index", ng-class="{'hidden-item': item.hidden}")
                        td: strong {{ item.order }}
                        td: strong(title="{{item._id}}") {{ item.name }}
                        td: strong {{ item.price | currency:"£ " }}
                        td
                            .btn-group
                                a.btn.btn-warning(ng-click="editItem(item)")
                                    i.fa.fa-fw.fa-edit
                                    | Edit
                                a.btn.btn-danger(ng-click="deleteItem(item._id)")
                                    i.fa.fa-fw.fa-times
                                    | Delete
    script(type="text/ng-template", id="addItem")
        include partials/additem
    script(type="text/ng-template", id="editItem")
        include partials/edititem
    script(type="text/ng-template", id="addsection")
        include partials/addsection
    script(type="text/ng-template", id="editsection")
        include  partials/editsection