doctype
html(lang="en" ng-app="tapas")
  head
    meta(charset="UTF-16")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Tapas
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/tapas.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/bootstrap-social.css")

    script(src="/js/jquery.min.js")
    script(src="/js/angular.min.js")
    script(src="/js/angular-local-storage.min.js")
    script(src="/js/ng-file-upload.min.js")
    script(src="/js/app.js")
    script(src="/js/ui-bootstrap.min.js")
    script(src="/js/admin-app.js")
  body
    nav.navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/"): img(src="/img/logo.png")
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-text
            for section in sections
              unless section.hidden
                li: a(href="/#"+section.name.replace(/\s+/g, '-').toLowerCase())=section.name
            br.visible-xs

            li.btn-success.pull-right(ng-if="!hasOrdered")
              a(href="/basket" style="color: #fff")
                i.fa.fa-shopping-cart.fa-fw
                | &nbsp;
                span(ng-bind="basket.totalItems") 0
            if session.admin
              li.btn-danger.pull-right
                a(href="/admin")
                  i.fa.fa-cogs.fa-fw
    .container.marketing(ng-controller="configCtrl", ng-show="config.promo")
      img.marketing-img(src="https://tapas-media.s3-eu-west-1.amazonaws.com/promo.png", alt="")
    block body
    .container.food-menu(ng-controller="configCtrl", style="white-space: pre;")
      .col-xs-12.col-sm-4
        b {{ config.name }}
        br
        | {{ config.address }}
      .col-xs-12.col-sm-4
        b Opening hours
        br
        | {{ config.openHours }}
      .col-xs-12.col-sm-4.btn-toolbar
        a.btn.btn-social-icon.btn-twitter(ng-show="config.twitter != ''", href="{{ config.twitter }}", target="_blank"): i.fa.fa-twitter
        a.btn.btn-social-icon.btn-facebook(ng-show="config.facebook != ''", href="{{ config.facebook }}", target="_blank"): i.fa.fa-facebook
        a.btn.btn-social-icon.btn-instagram(ng-show="config.instagram != ''", href="{{ config.instagram }}", target="_blank"): i.fa.fa-instagram