.modal-header
    h1.modal-title Change ingredients for {{ item.obj.name }}
.modal-body
    div(ng-repeat="ingredient in item.obj.ingredients track by $index", ng-init="setIngredientValues(ingredient, $index)" ng-class="{ row: $index % 3 == 2 }" style="margin-top:15px;")
        .col-sm-4.col-xs-12.ingredient
            .btn.col-xs-12(ng-click="setIngredient(ingredient)", ng-class="{'btn-default': ingredient.value==0, 'btn-info': ingredient.value != 0}") {{ ingredient.name }}&nbsp;{{ $index % 3}}
                i.fa.fa-fw.fa-plus(ng-show="ingredient.value >= 1")
                i.fa.fa-fw.fa-plus(ng-show="ingredient.value == 2")
        .clearfix(ng-if="$index % 3 == 2")
    .clearfix
.modal-footer
    a.btn.btn-success.btn-lg(ng-click="ok()")
        i.fa.fa-check
        |  Add to Order